:root {
  --webstudio-color: #2196f3;
  --menu-item-color: #212121;
  --header-adress-color: #757575;
  --hero-pre-title-color: #ffffff;
  --button-title-color: #ffffff;
  --qualities-title-color: #212121;
  --qualities-text-color: #757575;
  --about-title-color: #212121;
  --team-title-color: #212121;
  --employe-title-color: #212121;
  --employe-profession-color: #757575;
  --adress-geo-color: #ffffff;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --menu-button-color: #212121;
  --all-item-name-color: #212121;
  --all-item-type: #757575;
}
